<meta charset="UTF-8">
    <script>

        function pulaLinha () {
            document.write ("<br>");
            document.write ("<br>");

        }
    
        function mostra (frase) {
                document.write (frase);
                pulaLinha;
        }

        function sorteia (n){
               return Math.round(Math.random() * n);    
             ßßß
        }
    var tentativas = 1;

    while (tentativas <= 7){
    var numeroPensado = sorteia (10);
    var chute = parseInt(prompt ("Digite um numero"));
        console.log();

        if (chute == numeroPensado) {
            mostra ("Voce acertou");
        }
            
           else {

            mostra("Voce errou");
            pulaLinha();
        }
    tentativas++;

    }

    </script>