<meta charset="UTF-8">
    <script>

        function pulaLinha () {
            document.write ("<br >");
            //document.write ("<br >");

        }
    
        function mostra (frase) {
                document.write (frase);
                pulaLinha;
        }

        var cont = 20;

        while (cont >= 0 ){
                mostra (cont);
                pulaLinha ();
          
                cont = cont - 1;

        }
        pulaLinha();
        mostra ("Fim");

    </script>