<meta charset="UTF-8">
    <script>

        function pulaLinha () {
            document.write ("<br >");
            document.write ("<br >");

        }
    
        function mostra (frase) {
                document.write (frase);
                pulaLinha;
        }

    var idade = parseInt(prompt("Qual é sua idade?"));
    // var temCarteira = prompt("Tem carteira? Responda S ou N");

    
    if (idade >= 18){
        var temCarteira = prompt("Tem carteira? Responda S ou N");
    }
        
        if (temCarteira == "S"){
            mostra ("Pode dirigir de boas PAE")
        }
    

    if (idade < 18){
            mostra ("Some vagabundo");
        }
 
    
    </script>