<meta charset=UTF-8>
    <script>

        function pulaLinha () {
            document.write ("<br >");
            document.write ("<br >");

        }
    
        function mostra (frase) {
                document.write (frase);
                pulaLinha;
        }
        function calculaImc (altura,peso){
            return peso / (altura * altura);
        }

        var nome = prompt ("Diga seu nome");
        var pesoInformada = prompt (nome + ", manda ai teu peso");
        var alturaInformada = prompt (nome + ", agora altura mano");
        var imc = calculaImc (alturaInformada, pesoInformada);

        document.write ("Teu imc é " + imc);


    </script>