<meta charset="UTF=-8">

<script>


function pulaLinha () {
            document.write ("<br >");
            document.write ("<br >");

        }
    
        function mostra (frase) {
                document.write (frase);
                pulaLinha;


var vitorias = parseInt(prompt("Entre com o número de vitórias."));

var empates = parseInt(prompt("Entre com o número de empates."));

var pontos = (vitorias * 3) + empates;

mostra("Os pontos do seu time são " + pontos);

mostra("Seu time está melhor do que no ano passado");



</script>